<div class="padding16x">
  <h3>
    your password is
    <span *ngIf="showPassword; else showHiddenPasswrord">1234</span>
    <ng-template #showHiddenPasswrord><span>****</span></ng-template>
  </h3>
  <br />
  <button mat-raised-button color="primary" (click)="togglePassword()">
    {{ buttonText }}
  </button>
  <br />
  <mat-card *ngIf="logList.length > 0">
    <mat-card-title>Log</mat-card-title>
    <mat-card-subtitle>(Password view log)</mat-card-subtitle>
    <mat-card-content>
      <h5
        *ngFor="let item of logList"
        [ngStyle]="{ backgroundColor: logList.length >= 5 ? '#673ab7' : 'white' }"
        [ngClass]="{ 'white-text': logList.length >= 5 }"
        class="padding8x margin4x my-border"
      >
        {{ item }}
      </h5>
    </mat-card-content>
  </mat-card>
</div>
